<p id="notice"><%= notice %></p>

<h1>Listing Drivers</h1>

<table>
  <thead>
    <tr>
      <th>Identity</th>
      <th>Lastname</th>
      <th>Address</th>
      <th>Category</th>
      <th>Class1</th>
      <th>Expeditiondate</th>
      <th>Revalidationdate</th>
      <th>Numberlicense</th>
      <th>Dateexpiry</th>
      <th>Birthdate</th>
      <th>Sex</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.identity %></td>
        <td><%= driver.lastname %></td>
        <td><%= driver.address %></td>
        <td><%= driver.category %></td>
        <td><%= driver.class1 %></td>
        <td><%= driver.expeditiondate %></td>
        <td><%= driver.revalidationdate %></td>
        <td><%= driver.numberlicense %></td>
        <td><%= driver.dateexpiry %></td>
        <td><%= driver.birthdate %></td>
        <td><%= driver.sex %></td>
        <td><%= driver.status %></td>
        <td><%= link_to 'Show', driver %></td>
        <td><%= link_to 'Edit', edit_driver_path(driver) %></td>
        <td><%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Driver', new_driver_path %>
