<p id="notice"><%= notice %></p>

<p>
  <strong>Identity:</strong>
  <%= @driver.identity %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @driver.lastname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @driver.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @driver.category %>
</p>

<p>
  <strong>Class1:</strong>
  <%= @driver.class1 %>
</p>

<p>
  <strong>Expeditiondate:</strong>
  <%= @driver.expeditiondate %>
</p>

<p>
  <strong>Revalidationdate:</strong>
  <%= @driver.revalidationdate %>
</p>

<p>
  <strong>Numberlicense:</strong>
  <%= @driver.numberlicense %>
</p>

<p>
  <strong>Dateexpiry:</strong>
  <%= @driver.dateexpiry %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @driver.birthdate %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @driver.sex %>
</p>

<p>
  <strong>Status:</strong>
  <%= @driver.status %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
