<p id="notice"><%= notice %></p>

<p>
  <strong>Licenseplate:</strong>
  <%= @vehicle.licenseplate %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @vehicle.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Manufacturingyear:</strong>
  <%= @vehicle.manufacturingyear %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @vehicle.weight %>
</p>

<p>
  <strong>Width:</strong>
  <%= @vehicle.width %>
</p>

<p>
  <strong>Grossweight:</strong>
  <%= @vehicle.grossweight %>
</p>

<p>
  <strong>Dryweight:</strong>
  <%= @vehicle.dryweight %>
</p>

<p>
  <strong>Usefulload:</strong>
  <%= @vehicle.usefulload %>
</p>

<p>
  <strong>Typeofvehicle:</strong>
  <%= @vehicle.typeofvehicle %>
</p>

<p>
  <strong>Datesoat:</strong>
  <%= @vehicle.datesoat %>
</p>

<p>
  <strong>Datetechnicalreview:</strong>
  <%= @vehicle.datetechnicalreview %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
